body {
background-color: rgb(43, 41, 41);
color:rgb(255, 255, 255);
font-family: "Merriweather", serif;
display: flex;
justify-content: center;
align-items: center;
height: 300px;

}

button{
background-color: rgb(41, 41, 43);
color: rgb(252, 252, 252);
font-family: "Merriweather", serif;

}

.passo {
display:none;

}


.passo.ativo {
display:block;

}

main{
    text-align: center;
max-width: 90%;

}

img{
 max-width: 40%;

}




